<p-card header="Usuarios" subheader="Tabla de usuarios">
  <p-progressBar *ngIf="cargando" mode="indeterminate"></p-progressBar>
  <div *ngIf="listaUsuarios">
    <p-table [value]="listaUsuarios"
             styleClass="p-datable-striped" responsiveLayout="scroll">
      <ng-template  pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>{{usuario.id}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.correo}}</td>
          <td>{{usuario.rol.rol}}</td>
          <td>
            <button pButton icon="pi pi-pencil " class="p-button-rounded p-button-warning me-2"></button>
            <button pButton icon="pi pi-trash " class="p-button-rounded p-button-danger me-2"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer"></ng-template>




  </p-table>
  </div>
  <div [hidden]="true" class="table-responsive" >
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of this.listaUsuarios">
        <td>{{usuario.id}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.correo}}</td>
        <td>{{usuario.rol.rol}}</td>
        <td>
          <button pButton icon="pi pi-pencil " class="p-button-rounded p-button-warning me-2"></button>
          <button pButton icon="pi pi-trash " class="p-button-rounded p-button-danger me-2"></button>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

  </p-card>
  <p-toast></p-toast>
